<mat-card *ngIf="!ready">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</mat-card>
<mat-accordion *ngIf="ready">
    <mat-expansion-panel (expandedChange)="infoBlockState.emit($event)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Инфоблоки
            </mat-panel-title>
        </mat-expansion-panel-header>

        <app-info-block-list [panelState]="infoBlockState"></app-info-block-list>
    </mat-expansion-panel>
    <mat-expansion-panel (expandedChange)="hlBlockState.emit($event)">
        <mat-expansion-panel-header>
            <mat-panel-title>
                Highload-блоки
            </mat-panel-title>
        </mat-expansion-panel-header>

        <app-hl-block-list [panelState]="hlBlockState"></app-hl-block-list>
    </mat-expansion-panel>
</mat-accordion>