:host {
    position: relative;
    display: block;

}

button {
    position: absolute;
    top: 0;
    right: 0;
    color: rgba(0, 0, 0, .38);
}

pre {
    width: 600px;
    height: 700px;
    overflow: auto;
    margin-right: -24px;
}