<div class="wrapper" [class.not-selected]="!selected">
    <div class="name">
        {{field.name}}<br>
        <mat-panel-description>
            <small>({{field.code}})</small>
        </mat-panel-description>
    </div>

    <div class="type">
        <mat-form-field>
            <mat-select [formControl]="formGroup.get('type')" (selectionChange)="onTypeChange()">
                <mat-option *ngFor="let type of types" [value]="type.code">
                    {{type.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>


        <ng-container *ngIf="isExistOptions()">
            <a mat-mini-fab color="primary" class="more-options" (click)="showOptions()">
                <mat-icon>more_horiz</mat-icon>
            </a>
        </ng-container>
    </div>

    <div class="checkbox">
        <mat-checkbox [checked]="selected" (change)="onSelect()"></mat-checkbox>
    </div>
</div>