:host {
    width: 100%;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}

.name {
    width: 600px;

    .not-selected &,
    .not-selected & mat-panel-description {
        color: rgba(0, 0, 0, .38);
    }
}

.type {
    width: 250px;

    .more-options {
        margin-left: 30px;
    }
}

.checkbox {
    margin-left: auto;
}