<mat-card *ngIf="item === null">
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
</mat-card>
<ng-container *ngIf="item !== null">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <mat-card>
            <mat-form-field class="class-namespace">
                <input matInput placeholder="Namespace" [formControl]="form.get('namespace')">
            </mat-form-field>

            <mat-form-field class="class-name">
                <input matInput placeholder="Название класа" [formControl]="form.get('name')">
            </mat-form-field>
        </mat-card>

        <app-field-list [title]="'Поля'" [fields]="item.fields" [formGroup]="form.get('fields')"
                        [types]="types"></app-field-list>

        <app-field-list [title]="'Свойства'" [fields]="item.properties" [formGroup]="form.get('properties')"
                        [types]="types"></app-field-list>

        <mat-card>
            <button mat-raised-button color="primary" type="submit">Создать</button>
        </mat-card>
    </form>

</ng-container>
