mat-list {
    mat-list-item {
        height: auto;
    }
}

mat-expansion-panel {
    position: relative;
}

mat-panel-title {
    display: flex;
    align-items: center;

    width: 300px;
    flex-grow: 0;
}

mat-expansion-panel-header {
    ::ng-deep .mat-content {
        overflow: visible;
    }

}

mat-panel-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
}