<mat-expansion-panel>
    <mat-expansion-panel-header>
        <mat-panel-title>
            Поля
        </mat-panel-title>
        <mat-panel-description>
            Выбранно {{countSelected}} из {{fields.length}}

            <mat-checkbox
                    [indeterminate]="countSelected !== fields.length && countSelected !== 0"
                    [checked]="countSelected === fields.length"
                    (change)="toggleAllFields($event)"
                    (click)="$event.stopPropagation()">
            </mat-checkbox>
        </mat-panel-description>
    </mat-expansion-panel-header>

    <mat-list>
        <ng-container *ngFor="let field of fields">
            <mat-list-item>
                <app-field
                        [field]="field"
                        [types]="types"
                        [formGroup]="formGroup.get(field.code)"
                        (onSelected)="selectedField($event)"
                        (onChangeOptionGroup)="changeOptionGroup(field.code, $event)"></app-field>
            </mat-list-item>

            <mat-divider></mat-divider>
        </ng-container>
    </mat-list>
</mat-expansion-panel>