<mat-form-field>
    <input matInput placeholder="Поиск" (input)="onInput()" [formControl]="filter.get('name')" [focus]="panelState">
</mat-form-field>

<mat-list>

    <mat-list-item *ngFor="let el of list">
        {{el.name}}

        <div class="btn-wrapper">
            <button mat-button routerLink="/info-block/{{el.id}}/element">Элемент</button>
            <button mat-button routerLink="/info-block/{{el.id}}/section">Раздел</button>
        </div>
    </mat-list-item>
</mat-list>